# ignore video files and sequences.txt
data/videos/*avi
data/videos/*.npy
sequences.txt

#Ignore pyc (compiled Python files)
*.pyc

#Ignore IntelliJ project files
.idea
*.iml

# Ignore specific pdf files
Final Project_Activity Classification using MHI.pdf
Classification using MHI.pdf

# Ignore all joblib files